html {
  font-family: "Red Hat Text";
  font-weight: 700;
}

body {
  background: linear-gradient(0deg, hsl(273, 23%, 18%) 15%, hsl(234, 17%, 12%) 75%);
  margin: 0;
}

.container {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.section-top {
  position: relative;
  width: 100%;
  min-height: 75%;
}
.section-top .stars {
  position: absolute;
  background-color: hsl(237, 18%, 59%);
  -webkit-mask-image: url("./images/bg-stars.svg");
          mask-image: url("./images/bg-stars.svg");
  width: 100%;
  height: 100%;
}
.section-top .title {
  display: flex;
  justify-content: center;
  margin: 44px;
}
.section-top .title h1 {
  margin: 94px;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 7px;
}
.section-top .flip-clock {
  display: flex;
  justify-content: center;
}
.section-top .flip-clock .day,
.section-top .flip-clock .hour,
.section-top .flip-clock .minute,
.section-top .flip-clock .second {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-top .flip-clock .hand {
  position: relative;
  background-color: hsl(236, 21%, 26%);
  display: block;
  width: 148px;
  height: 140px;
  padding: 0;
  overflow: hidden;
  border-radius: 7px;
  margin: 16px;
  box-shadow: 0 12px 0px 0px hsl(234, 17%, 12%);
}
.section-top .flip-clock .hand .clock {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.section-top .flip-clock .hand .clock p {
  font-size: 72px;
  color: hsl(345, 95%, 68%);
}
.section-top .flip-clock .hand .up {
  height: 50%;
  overflow: hidden;
  z-index: -1;
  transform-style: preserve-3d;
  animation-duration: 0.45s;
}
.section-top .flip-clock .hand .up p {
  margin-top: 140px;
}
.section-top .flip-clock .hand .down {
  height: 50%;
  overflow: hidden;
  background-color: #3e4160;
  margin-top: 35px;
  z-index: -1;
  transform-style: preserve-3d;
  transform: rotateX(90deg);
  animation-duration: 0.3s;
  animation-delay: 0.3s;
}
.section-top .flip-clock .hand .down p {
  margin-top: 0;
}
.section-top .flip-clock .hand .dis {
  transform: rotateX(0deg);
  margin-top: 70px;
  background-color: #2e3047;
}
.section-top .flip-clock .hand .line {
  position: absolute;
  width: 148px;
  top: 48%;
  height: 4px;
  background-color: hsl(234, 17%, 12%);
  opacity: 0.2;
  box-shadow: 0px -35px 0px 35px hsla(0, 0%, 0%, 0.15);
  z-index: 30;
}
.section-top .flip-clock .hand .circle {
  position: absolute;
  background-color: hsl(234, 17%, 12%);
  width: 12px;
  height: 12px;
  border-radius: 6px;
  top: 45%;
  z-index: 4;
}
.section-top .flip-clock .hand .left-circle {
  left: -6px;
}
.section-top .flip-clock .hand .right-circle {
  right: -6px;
}
.section-top .flip-clock p {
  font-size: 12px;
  color: hsl(237, 18%, 59%);
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 700;
}

.section-bottom {
  position: absolute;
  bottom: 0;
  background-image: url("./images/pattern-hills.svg");
  background-repeat: round;
  height: 197px;
  width: 100%;
}
.section-bottom .socials {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.section-bottom .socials a {
  color: hsl(237, 18%, 59%);
  text-decoration: none;
  margin: 16px;
}
.section-bottom .socials a:hover {
  cursor: pointer;
  color: hsl(345, 95%, 68%);
}
.section-bottom .attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.section-bottom .attribution a {
  color: hsl(228, 45%, 44%);
}

@keyframes flipup {
  0% {
    transform: rotateX("0");
    margin-top: 0;
    z-index: 5;
    background-color: #32344d;
  }
  15% {
    margin-top: 0;
  }
  99% {
    z-index: 5;
  }
  100% {
    transform: rotateX(-90deg);
    margin-top: 35px;
    z-index: -1;
    background-color: #161722;
  }
}
@keyframes flipdwn {
  0% {
    transform: rotateX(-90deg);
    margin-top: 35px;
    background-color: #494b6f;
    z-index: 5;
  }
  80% {
    margin-top: 68px;
  }
  99% {
    z-index: 5;
  }
  100% {
    transform: rotateX(0deg);
    margin-top: 70px;
    z-index: -1;
    background-color: hsl(236, 21%, 26%);
  }
}
@media screen and (max-height: 750px) {
  .section-top {
    min-height: 75vh;
  }
  .section-top .title {
    margin: 0 auto;
  }
  .section-top .title h1 {
    margin: 5vh auto;
  }
  .section-bottom {
    height: 25vh;
  }
  .section-bottom .socials {
    margin-top: 10vh;
  }
}
@media screen and ((max-width: 768px) or (max-height: 350px)) {
  .section-top .title h1 {
    margin: 14vh 10vw;
    text-align: center;
  }
  .section-top .flip-clock .hand {
    width: 67px;
    height: 70px;
    margin: 4.26vh 10px;
    box-shadow: 0 6px 0px 0px hsl(234, 17%, 12%);
  }
  .section-top .flip-clock .hand .clock p {
    font-size: 30px;
  }
  .section-top .flip-clock .hand .up p {
    margin-top: 64px;
  }
  .section-top .flip-clock .hand .down {
    animation-name: none;
    margin-top: 17.5px;
  }
  .section-top .flip-clock .hand .down p {
    margin-top: -5px;
  }
  .section-top .flip-clock .hand .dis {
    margin-top: 35px;
  }
  .section-top .flip-clock .hand .line {
    width: 67px;
    top: 48%;
    height: 2px;
    box-shadow: 0px -17.5px 0px 35px hsla(0, 0%, 0%, 0.15);
  }
  .section-top .flip-clock .hand .circle {
    width: 6px;
    height: 6px;
    border-radius: 3px;
  }
  .section-top .flip-clock .hand .left-circle {
    left: -3px;
  }
  .section-top .flip-clock .hand .right-circle {
    right: -3px;
  }
  .section-top .flip-clock p {
    font-size: 8px;
    letter-spacing: 3px;
  }
  .section-bottom {
    background-position-x: right;
    background-size: 1000px;
    background-repeat: no-repeat;
  }
  @keyframes flipup {
    0% {
      transform: rotateX("0");
      margin-top: 0;
      z-index: 5;
      background-color: #32344d;
    }
    15% {
      margin-top: 0;
    }
    99% {
      z-index: 5;
    }
    100% {
      transform: rotateX(-90deg);
      margin-top: 17.5px;
      z-index: -1;
      background-color: #161722;
    }
  }
  @keyframes flipdwn {
    0% {
      transform: rotateX(-90deg);
      margin-top: 17.5px;
      background-color: #494b6f;
      z-index: 5;
    }
    80% {
      margin-top: 33px;
    }
    99% {
      z-index: 5;
    }
    100% {
      transform: rotateX(0deg);
      margin-top: 35px;
      z-index: -1;
      background-color: hsl(236, 21%, 26%);
    }
  }
}/*# sourceMappingURL=style.css.map */